<launch>

  <arg name="nao_ip"            default="$(optenv NAO_IP)" />
  <arg name="nao_port"          default="$(optenv NAO_PORT 9559)" />
  <arg name="roscore_ip"        default="127.0.0.1" />
  <arg name="network_interface" default="eth0" />
  <arg name="namespace"         default="naoqi_driver" />
  <arg name="user"              default="nao" />
  <arg name="password"          default="no_password" />

  <node pkg="naoqi_driver" type="naoqi_driver_node" name="$(arg namespace)" required="true" args="--qi-url=tcp://$(arg nao_ip):$(arg nao_port) --nao_ip=$(arg nao_ip) --nao_port=$(arg nao_port) --user=$(arg user) --password=$(arg password) --roscore_ip=$(arg roscore_ip) --network_interface=$(arg network_interface) --namespace=$(arg namespace)" output="screen" />

</launch>
